<div id="products" class="only-one">
    <h1>Products</h1>

    <div class="smallContainer" style="width:fit-content">
        <button onclick="HideOverlay();ShowForm('product-form-overlay')">
            <h4>Add Product</h4>
        </button>
        <button onclick = "HideOverlay();ShowForm('delete-product-overlay')">
            <h4>Delete Product</h4>
        </button>
    </div>

    <div class="smallContainer">
        <h4>All Products</h4>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Type</th>
                <th>Images</th>
            </tr>
            <% products.forEach(product => { %>
            <tr>
                <td>
                    <%= product.name %>
                </td>
                <td>
                    <%= product.price %>
                </td>
                <td>
                    <%= product.description %>
                </td>
                <td>
                    <%= product.stock %>
                </td>
                <td>
                    <%= product.category %>
                </td>
                <td>
                    <%= product.type %>
                </td>
                <td>
                    <%= product.iamges %>
                </td>
                <td class = "valueToCopy">
                    <%= product._id %>
                </td>
                <td>
                    <button onclick = "copyToClipboard(this,'valueToCopy')"><img src="../Images/Dashboard/copy.png" style = "width:20px;height:20px;"></button>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
</div>