<div id="users" class="only-one">
    <h1>Users</h1>
    <div class="smallContainer" style="width:fit-content">
        <button onclick = "HideOverlay();ShowForm('admin-form-overlay')">
            <h4>Add Admin</h4>
        </button>
        <button onclick = "HideOverlay();ShowForm('user-form-overlay')">
            <h4>Delete User</h4>
        </button>
    </div>

    <div class="smallContainer buttons" style="margin: 0;">
        <div class="search-div">
            <span class="searchSpan">
                <input class="search-box" type="search" placeholder="Search">
            </span>
            <span>
                <input id="search-img" type="image" src="../Images/Icons/search.png" onclick = "searchUsers()">
            </span>
        </div>
    </div>

    <div class="smallContainer">
        <h4>All Users</h4>
        <table id = "usersTable">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>ID</th>
            </tr>
            <% users.forEach(user=> { %>
            <tr>
                <td>
                    <%= user.name%>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.userType %>
                </td>
                <td class = "valueToCopy">
                    <%= user.objectID %>
                </td>
                <td>
                    <button onclick = "copyToClipboard(this,'valueToCopy')"><img src="../Images/Dashboard/copy.png" style = "width:20px;height:20px;"></button>
                </td>
            </tr>
            <% }) %>
        </table>

        <div class="pagination">
            <% if ( users.length != 0) { %>
            <% for (let i = 0;i<totalPages;i++) {%>
                <div onclick = "changePage('<%=i%>')"><a href="#"><%= i+1 %></a></div>
                <% } %>
            <% }%>
            
    </div>
    </div>
</div>