<html>

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" type=text/css href="../../CSS/dashboard.css">
    <link rel="stylesheet" type=text/css href="../../CSS/dashboard_sidebar.css">
    <link rel="stylesheet" type=text/css href="../../CSS/dashboard_home.css">
    <link rel="stylesheet" type=text/css href="../../CSS/dashboard_products.css">
    <link rel="stylesheet" type=text/css href="../../CSS/dashboard_users.css">
    <link rel="stylesheet" type=text/css href="../../CSS/dashboard_insights.css">
    <link rel="stylesheet" type=text/css href="../../CSS/overlay_form.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Dashboard</title>
</head>

<body onload="closeSidebar()">

    <div id="bodyContainer">

        <div id="sidebar">
            <a><img src="../../Images/Dashboard/menu.png" onclick="toggleSidebar()"></a>

            <a onclick="makeActive(this);" href="/dashboard" class=<%=currentTab=='home' ? "active" : '' %>><img
                    src="../../Images/Dashboard/home.png"><span>Dashboard</span></a>

            <a onclick="makeActive(this);" href="/dashboard/insights" class=<%=currentTab=='insights' ? "active" : ''
                %>><img src="../../Images/Dashboard/analysis.png"><span>Insights</span></a>

            <a onclick="makeActive(this);" href="/dashboard/users?page=0" class=<%=currentTab=='users' ? "active" : '' %>><img
                    src="../../Images/Dashboard/users.png"><span>Users</span></a>

            <a onclick="makeActive(this);" href="/dashboard/products?page=0" class=<%=currentTab=='products' ? "active" : ''
                %>><img src="../../Images/Dashboard/cart.png"><span>Products</span></a>

            <a onclick="makeActive(this);" href="/"><img
                    src="../../Images/Dashboard/back_arrow.png"><span>Homepage</span></a>
        </div>

        <div id="container">
            
            <% if (currentTab=="home" ) { %>
                <%- include("./partials/dashboard_home.ejs"); %>

            <% } else if (currentTab=="products" ) { %>
                <%- include("./partials/dashboard_products.ejs"); %>

            <% } else if (currentTab=="insights" ) { %>
                <%- include("./partials/dashboard_insights.ejs"); %>

            <% } else if (currentTab=="users" ) { %>
                <%- include("./partials/dashboard_users.ejs"); %>
            <% } %>

                                            

        </div>
        
    </div>

    <% if (currentTab=="products" ) { %>
        <%- include("./partials/dashboard_product_form.ejs"); %>
        <%- include("./partials/dashboard_product_edit.ejs"); %>
        <%- include("./partials/delete_product_overlay.ejs"); %>
        <%- include("./partials/dashboard_product_filter_form.ejs"); %>

    <% } else if (currentTab=="users" ) { %>
        <%- include("./partials/dashboard_users_form.ejs"); %>
        <%- include("./partials/dashboard_admins_form.ejs"); %>
    <% } %>

                                
    <script src="../../JS/account1.js"></script>
    <script src="../../JS/adminbar.js"></script>
    <script src="../../JS/overlay.js"></script>
    <script src="../../JS/adminFunctions.js"></script>
    <script src="../../JS/fileUploadLimit.js"></script>
    <% if (currentTab=="products" ) { %>
        <script src="../../JS/dashboard_products.js"></script>
        <% } else if (currentTab == "users") {%>
    <script src="../../JS/dashboard_users.js"></script>
    <% } %>

    <!-- <script src="../../JS/checkProductFormErrors.js"></script> -->
</body>

</html>