<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="../CSS/header.css">
    <link rel="stylesheet" type="text/css" href="../CSS/footer.css">
    <link rel="stylesheet" type="text/css" href="../CSS/products.css">
</head>

<body>
    <div id="container">
        <div id="topNav">
            <%- include('./partials/header.ejs') %>
        </div>

        <!-- need attribution (credits) for account icon in footer -->
        <!-- <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a> -->
        <!-- changed photo and got it from logomakr.com -->

        <div id="biggerContainer">
            <div id="bodyContainer">
                <h1>Pixi</h1>
                <p>Your Favourite Brand</p>
                <div class="productsGrid">
                    <% for (let i=0; i < products.length; i++) { %>
                        <div class="product">
                            <img src="../Images/Products/<%= products[i].images[0]%>">
                            <span>
                                <%= products[i].name %>
                            </span>
                            <span class="price">
                                <%= products[i].price %> EGP
                            </span>
                        </div>
                        <% } %>
                </div>

            </div>

            <footer class="footer">
                <%- include('./partials/footer.ejs') %>
            </footer>
        </div>

</body>
<script src="../JS/header.js"></script>
<script src="../JS/productsopen.js"></script>

</html>