<html>

<head>
    <%- include('./partials/head.ejs') %>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../CSS/footer.css">
    <link rel="stylesheet" type="text/css" href="../CSS/header.css">
    <link rel="stylesheet" type="text/css" href="../CSS/register&login.css">

</head>

<body>

    <div id="container">
        <div id="topNav">
            <%- include('./partials/header.ejs') %>
        </div>

        <div id="biggerContainer">

            <div class="bodyContainer">
                <h1>Register</h1>
                <div class="register">
                    <form action="/register" method="post" id="form">
                        <div class="group">
                            <input type="text" name="firstName" id="firstName" class="input">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>First Name</label>
                        </div>

                        <div id="error-div">
                            <span class="errorMsg" id="firstNameErrorMsg">
                              <%if( errorMsg && errorMsg.firstName) { %>
                                  <%=errorMsg.firstName%>
                              <%}%>
                            </span>
                        </div>

                        <div class="group">
                            <input type="text" id="lastName" name="lastName" class="input">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Last Name</label>
                        </div>

                        <div id="error-div">
                            <span class="errorMsg" id="lastNameErrorMsg">
                              <%if( errorMsg && errorMsg.lastName) { %>
                                  <%=errorMsg.lastName%>
                              <%}%>
                            </span>
                        </div>

                        <div class="group">
                            <input type="email" id="Email" name="email" class="input">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Email</label>
                        </div>

                        <div id="error-div">
                            <span class="errorMsg" id="emailErrorMsg">
                              <%if( errorMsg && errorMsg.email) { %>
                                  <%=errorMsg.email%>
                              <%}%>
                            </span>
                        </div>

                        <div class="group">
                            <input type="password" id="Password" name="password" class="input">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Password</label>
                        </div>

                        <div id="error-div">
                            <span class="errorMsg" id="passwordErrorMsg">
                              <%if( errorMsg && errorMsg.password) { %>
                                  <%=errorMsg.password%>
                              <%}%>
                            </span>
                        </div>

                        <div class="group">
                            <input type="password" id="ConfirmPass" name="confirmPass" class="input">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Confirm Password</label>
                        </div>

                        <div id="error-div">
                            <span class="errorMsg" id="confirmPassErrorMsg">
                              <%if( errorMsg && errorMsg.confirmPass) { %>
                                  <%=errorMsg.confirmPass%>
                              <%}%>
                            </span>
                        </div>

                        <button id="submit" class="button" type="submit">REGISTER</button>
                        <span>Success</span>
                    </form>
                    <a href="/login"><button class="button">LOG IN</button></a>

                </div>
            </div>

            <footer class="footer">
                <%- include('./partials/footer.ejs') %>
            </footer>
        </div>
    </div>
    </div>

</body>

<script src="../JS/header.js"></script>
<script src="../JS/registervalid.js"></script>

</html>